<h2>Alexys</h2>
<p>A une piscine que la team lyonnaise n'a pas testée (c'est inadmissible).</p>

<h2>Laetitia</h2>
<p>Agressive et férue de boxe française</p>

<h2>Ludovic</h2>
<p>Amoureux de la voisine Nathalie</p>

<h2>Pauline</h2>
<p>Amatrice de prénoms bizarres</p>

<h2>Willy</h2>
<p>Bruiteur en chef</p>