<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>On se présente</title>

  </head>

  <body style="padding-top: 5rem">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" style="color:white;">On se présente</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/me">A propos de nous</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/group">A propos du groupe</a>
        </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h2>Alexys</h2>
        <p>A une piscine que la team lyonnaise n'a pas testée (c'est inadmissible).</p>

        <h2>Laetitia</h2>
        <p>Agressive et férue de boxe française</p>

        <h2>Ludovic</h2>
        <p>Amoureux de la voisine Nathalie</p>

        <h2>Pauline</h2>
        <p>Amatrice de prénoms bizarres</p>

        <h2>Willy</h2>
        <p>Bruiteur en chef</p>     
      </div>

    </main><!-- /.container -->
